@font-face {
    font-family: 'source_sans_prolight';
    src: url('./assets/font/sourcesanspro-light.woff2') format('woff2'),
         url('./assets/font/sourcesanspro-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('./assets/font/sourcesanspro-regular.woff2') format('woff2'),
         url('./assets/font/sourcesanspro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('./assets/font/sourcesanspro-bold.woff2') format('woff2'),
         url('./assets/font/sourcesanspro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}