html,
body {
  margin: 0;
  padding: 0;
  background: var(--page-bg-color);
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: var(--font);
  color: var(--color-main-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  outline: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  font-size: 1.8rem;
  margin: 0 0 15px 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #ededed;
}