:root {
    --scrollbarBg: rgba(255, 255, 255, 0);
    --thumbBg: #7D7D7D;
}

.g-custom-scrollbar::-webkit-scrollbar {
    width: 7px;
}
.g-custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBg) var(--scrollbarBg);
}
.g-custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
}
.g-custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--thumbBg) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBg);
}