:root {
    --font: "source_sans_proregular", Avenir, Helvetica, Arial, sans-serif;
    --page-bg-color: #FBFBFB;

    --color-main-green: #00A11E;
    --color-green-selection: rgb(234, 255, 237);
    --color-green-light: #EDF8EF;
    --color-green-darken: #028019;
    --color-main-white: #FFFFFF;
    --color-main-grey: #C6CBD4;
    --color-main-grey-light: #dddbdb;
    --color-main-grey-light-hover: #f1f0f0;
    --color-grey-disabled: #EBEDEF;
    --color-red: #ff847c;

    --color-main-text: #282136;
    --color-main-text-light: #5B5E77;

    --element-border-radius: 2px;

    --animation-duration: 0.2s;
}