<template>
  <button :class="classes" :style="styles">
    {{ text }}
  </button>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";

@Component
export default class Table extends Vue {
  @Prop() readonly text!: string;
  @Prop({ default: "default" }) private readonly type!: "primary" | "default";
  @Prop({ default: false }) private readonly disabled!: boolean;
  @Prop({ default: "medium" }) private readonly size!: string;
  @Prop({ default: 2 }) private readonly round!: number;

  get classes() {
    return {
      button: true,
      ["button-disabled"]: this.disabled,
      ["button-" + this.type]: true,
      ["button-" + this.size]: true
    };
  }

  get styles() {
    return {
      borderRadius: `${this.round}px`
    };
  }
}
</script>

<style type="scss" scoped>
.button {
  height: 32px;
  padding: 0 15px;
  border: 1px solid;
  cursor: pointer;
  line-height: 30px;
  font-size: 0.8rem;
  transition: background-color 0.2s, border-color 0.2s;
  outline: 0;
}
.button-small {
  height: 25px;
  line-height: 20px;
  padding: 0 5px;
}
.button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.button-default {
  border-color: var(--color-main-grey);
  color: var(--color-main-text-light);
  background: var(--color-main-white);
}
.button-primary {
  border-color: var(--color-main-green);
  background: var(--color-main-green);
  color: var(--color-main-white);
}
.button-primary:hover {
  background: var(--color-green-darken);
  border-color: var(--color-green-darken);
}
</style>
