<template>
  <div :class="['checkbox', checked && 'checked']" />
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";

@Component
export default class Checkbox extends Vue {
  @Prop({ default: false }) private readonly checked!: boolean;
}
</script>

<style lang="scss" scoped>
.checkbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-main-grey);
  border-radius: var(--element-border-radius);
  background: var(--color-main-white);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.15s, border-color 0.15s;

  &.checked {
    background: var(--color-main-green) 50% 50% no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 80 80'%3E%3Cpath fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='6' d='M22 40.107l11.929 11.929 26.84-26.841'/%3E%3C/svg%3E");
    border-color: var(--color-main-green);
  }
}
</style>
