<template>
  <div :class="['dropdown', isOpen && 'open']" v-click-outside="hide">
    <div class="dropdown--selected" @click="toggle">
      {{ items[selectedIndex].label }}

      <button class="dropdown--ctrl" />
    </div>

    <ul class="dropdown--body">
      <li
        v-for="(item, index) of items"
        :key="item.id"
        @click.stop="selectedIndex != index && change(index)"
        :class="[selectedIndex == index && 'active']"
      >
        {{ item.label }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Prop, Emit, Component, Vue } from "vue-property-decorator";

interface DropdownItems {
  label: string;
  value: string | number;
}

@Component
export default class Dropdown extends Vue {
  @Prop({ required: true }) readonly items!: DropdownItems[];

  private selectedIndex = 0;
  private isOpen = false;

  toggle() {
    this.isOpen = !this.isOpen;
  }

  hide() {
    this.isOpen = false;
  }

  @Emit("change")
  change(index: number) {
    this.selectedIndex = index;
    this.isOpen = false;

    return this.items[index].value;
  }
}
</script>

<style lang="scss" scoped>
.dropdown {
  position: relative;

  &--selected {
    height: 30px;
    padding: 0 25px 0 14px;
    border: 1px solid var(--color-main-grey);
    border-radius: var(--element-border-radius);
    white-space: nowrap;
    line-height: 30px;
    color: var(--color-main-text-light);
    cursor: pointer;
  }

  &.open &--body {
    display: block;
  }

  &--body {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    min-width: 130px;
    max-width: 200px;
    max-height: 300px;
    padding: 5px 0;
    overflow: scroll;
    box-shadow: 0 2px 7px #ccc;
    border-radius: var(--element-border-radius);
    background: var(--color-main-white);
    z-index: 10;

    li {
      padding: 10px 17px 5px;
      text-align: center;
      cursor: pointer;
    }
    li:hover {
      background: var(--color-main-grey-light-hover);
    }
    li.active {
      background: var(--color-main-green);
      color: var(--color-main-white);
    }
  }

  &--ctrl {
    position: absolute;
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;
    border: 0;
    background: none;
    background: url(../assets/drop-arrow.svg) 50% 50% no-repeat;
    transition: 0.4s;
    cursor: pointer;
  }

  &.open &--ctrl {
    transform: rotate(-180deg);
  }
}
</style>
