<template>
  <div :class="['multiselect', isOpen && 'open']" v-click-outside="hide">
    <div class="multiselect--selected" @click="toggle">
      {{ selectedIndexes.length }} columns selected

      <button class="multiselect--ctrl" />
    </div>

    <ul class="multiselect--body">
      <li @click.stop="selectAll = !selectAll">
        <Checkbox :checked="selectAll" />
        <span class="multiselect--label"><b>Select All</b></span>
      </li>
      <li
        v-for="(item, index) of items"
        :key="item.id"
        @click.stop="toggleIndex(index)"
      >
        <Checkbox :checked="selectedIndexes.includes(index)" />
        <span class="multiselect--label">{{ item.label }}</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Prop, Emit, Component, Vue } from "vue-property-decorator";
import Checkbox from "@/components/Checkbox.vue";

interface MultiselectItems {
  label: string;
  value: string | number;
}

@Component({
  components: {
    Checkbox
  }
})
export default class Multiselect extends Vue {
  @Prop({ required: true }) private readonly items!: MultiselectItems[];

  private selectedIndexes: number[] = this.items.map((_, i) => i);
  private isOpen = false;

  get selectAll() {
    return (
      this.selectedIndexes.length > 0 &&
      this.selectedIndexes.length == this.items.length
    );
  }

  set selectAll(isSelectAll: boolean) {
    const { selectedIndexes, items } = this;

    if (isSelectAll) {
      selectedIndexes.push(
        ...Array.from({ length: items.length })
          .map((_, i) => i)
          .filter(i => !selectedIndexes.includes(i))
      );
    } else {
      selectedIndexes.length = 0;
    }
    this.$emit(
      "change",
      selectedIndexes.map(idx => items[idx].value)
    );
  }

  toggle() {
    this.isOpen = !this.isOpen;
  }

  hide() {
    this.isOpen = false;
  }

  @Emit("change")
  toggleIndex(index: number) {
    const { selectedIndexes, items } = this;

    if (selectedIndexes.includes(index)) {
      selectedIndexes.splice(selectedIndexes.indexOf(index), 1);
    } else {
      selectedIndexes.push(index);
    }

    return selectedIndexes.map(idx => items[idx].value);
  }
}
</script>

<style lang="scss" scoped>
.multiselect {
  position: relative;
  margin: 0 0 15px 0;

  &--selected {
    height: 30px;
    padding: 0 25px 0 22px;
    border: 1px solid var(--color-main-grey);
    border-radius: var(--element-border-radius);
    line-height: 30px;
    color: var(--color-main-text-light);
    white-space: nowrap;
    cursor: pointer;
  }

  &.open &--body {
    display: block;
  }

  &--body {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 13px);
    max-height: 235px;
    min-width: 206px;
    padding-top: 7px;
    overflow-y: scroll;
    box-shadow: 0 2px 7px #ccc;
    border-radius: var(--element-border-radius);
    background: var(--color-main-white);
    user-select: none;
    z-index: 10;

    li {
      padding: 10px 17px 5px;
      cursor: pointer;
    }
    li.active {
      background: var(--color-main-green);
      color: var(--color-main-white);
    }
  }

  &--label {
    margin-left: 12px;
    vertical-align: sub;
  }

  &--ctrl {
    position: absolute;
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;
    border: 0;
    background: none;
    cursor: pointer;
    background: url(../assets/drop-arrow.svg) 50% 50% no-repeat;
    transition: 0.4s;
    outline: 0;
  }

  &.open &--ctrl {
    transform: rotate(-180deg);
  }
}
</style>
