<template>
  <div class="pagination">
    <button
      @click="!isFirstPage() && changePage(-1)"
      :class="['pagination--ctrl', 'prev', isFirstPage() && 'disabled']"
    />

    <span class="pagination--label">
      <b>{{ pageRange.join("-") }}</b> of <b>{{ total }}</b>
    </span>

    <button
      @click="!isLastPage() && changePage(1)"
      :class="['pagination--ctrl', 'next', isLastPage() && 'disabled']"
    />
  </div>
</template>

<script lang="ts">
import { Prop, Emit, Component, Vue } from "vue-property-decorator";

@Component
export default class Pagination<T> extends Vue {
  @Prop({ required: true }) private readonly total!: number;
  @Prop({ required: true }) private readonly perPage!: number;
  @Prop({ default: 1 }) private readonly page!: number;

  get pageRange() {
    const { page, perPage, total } = this;
    return [(page - 1) * perPage + 1, Math.min(page * perPage, total)];
  }

  isFirstPage() {
    return this.page == 1;
  }

  isLastPage() {
    return this.page == Math.ceil(this.total / this.perPage);
  }

  @Emit("change")
  changePage(direction: number) {
    return this.page + direction;
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  align-items: center;

  &--label {
    margin: 0 8px;
  }

  &--ctrl {
    width: 32px;
    height: 32px;
    border: 1px solid #d5dae0;
    background: none;
    cursor: pointer;
    border-radius: var(--element-border-radius);
    transition: opacity 0.2s;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }

    &.prev {
      background: url(../assets/hor-arrow.svg) 50% 50% no-repeat;
      transform: rotate(-180deg);
    }

    &.next {
      background: url(../assets/hor-arrow.svg) 50% 50% no-repeat;
    }
  }
}
</style>
