<template>
  <div
    :class="['prompt', isHidden && 'prompt-hidden']"
    ref="container"
    v-click-outside="hide"
  >
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from "vue-property-decorator";
import Spinner from "@/components/Spinner.vue";

@Component({
  components: {
    Spinner
  }
})
export default class Prompt extends Vue {
  @Prop({ default: null }) private anchor!: HTMLElement | null;
  @Prop({ default: null }) private canHide!: () => boolean | null;

  private isHidden = true;
  private isActivating = false;

  @Watch("anchor")
  onAnchorChange(elm: HTMLElement | null) {
    if (!elm) {
      this.hide();
      return;
    }
    this.showPinnedTo(elm);
  }

  showPinnedTo(targetElm: HTMLElement) {
    this.isHidden = false;
    this.anchor = targetElm;
    this.pinToAnchor();
  }

  pinToAnchor() {
    const { anchor } = this;

    if (!anchor) return;

    const bbox = anchor.getBoundingClientRect();
    let left = bbox.left + bbox.width / 2;
    const top = bbox.top + bbox.height + window.scrollY;
    const RIGHT_PAD = 12;

    const container = this.$refs.container as HTMLElement;
    const containerWidth = container.getBoundingClientRect().width;

    if (left + containerWidth / 2 > document.body.clientWidth) {
      left -= left + containerWidth / 2 - document.body.clientWidth + RIGHT_PAD;
    }

    container.style.top = top + "px";
    container.style.left = left + "px";
  }

  hide() {
    if (this.canHide && !this.canHide()) return;

    this.isHidden = true;
    this.$emit("close");
  }

  resize() {
    if (!this.anchor || this.isHidden) return;
    this.pinToAnchor();
  }

  mounted() {
    window.addEventListener("resize", this.resize);
  }

  beforeDestroy() {
    window.removeEventListener("resize", this.resize);
  }
}
</script>

<style lang="scss" scoped>
.prompt {
  position: absolute;
  width: 210px;
  margin-top: 10px;
  padding: 15px 10px;
  transform: translateX(-50%);
  background: var(--color-main-white);
  box-shadow: 0 2px 6px var(--color-main-grey);
  border-radius: 4px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s;

  &-hidden {
    opacity: 0;
    top: -9000px !important;
    left: -9000px !important;
  }
}
</style>
