<template>
  <div class="spinner"></div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Spinner extends Vue {}
</script>

<style lang="scss" scoped>
.spinner {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  animation: spinner 1s linear infinite;
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #07d;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
</style>
