<template>
  <table ref="container" :class="['v-table', sticky && 'sticky']">
    <thead>
      <th class="cell--select">
        <VCheckbox
          @click.native="selectAll = !selectAll"
          :checked="selectAll"
        />
      </th>
      <th
        v-for="[fieldName, title, width] of ff"
        :width="width"
        @click="
          isSortable(fieldName) &&
            (sortType = sortType == 'desc' ? 'asc' : 'desc')
        "
        :class="[isSortable(fieldName) && 'sortable']"
        :key="fieldName"
      >
        {{ title }}
        <b
          v-if="isSortable(fieldName)"
          :class="['sortable--arrow', sortType]"
        />
      </th>
      <th></th>
    </thead>

    <tbody>
      <tr
        v-for="{ id, values } of normalizedFields"
        :key="id"
        @click="toggleSelection(id)"
        :class="['v-table--row', isSelected(id) && 'active']"
      >
        <td class="cell--select">
          <VCheckbox :key="id" :checked="isSelected(id)" />
        </td>
        <td v-for="(value, index) of values" :key="id + '.' + index">
          {{ value }}
        </td>
        <td class="cell--delete">
          <button @click.stop="deleteItem(id, $event)" class="btn btn--delete">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Prop, Emit, Component, Vue } from "vue-property-decorator";
import VCheckbox from "@/components/Checkbox.vue";

@Component({
  components: {
    VCheckbox
  }
})
export default class Table<T extends { id: string }> extends Vue {
  @Prop({ default: false }) readonly sticky!: boolean;
  @Prop({ required: true }) readonly fields!: [keyof T, string][];
  @Prop({ required: true }) readonly items!: T[];
  @Prop({ default: () => [] }) readonly selected!: string[];
  @Prop({ default: 1 }) readonly from!: number;
  @Prop({ default: Infinity }) readonly to!: number;
  @Prop() private readonly sortByField: keyof T | undefined;

  private sortType = "desc";
  private sortedItems: T[] = this.items.slice();
  private ff = this.fields.slice();

  isSelected(id: string) {
    return this.selected.includes(id);
  }

  isSortable(name: string) {
    return this.sortByField == name;
  }

  get selectAll() {
    return (
      this.selected.length == this.normalizedFields.length &&
      this.selected.every(
        sid => this.normalizedFields.findIndex(({ id }) => id == sid) != -1
      )
    );
  }

  set selectAll(val: boolean) {
    const selected = [];

    if (val) {
      for (const { id } of this.normalizedFields) {
        selected.push(id);
      }
    }
    this.$emit("select", selected);
  }

  get filteredItems() {
    const sortDir = this.sortType == "desc" ? 1 : -1;
    const sortFieldName = this.sortByField;

    if (sortFieldName) {
      this.items.sort((a, b) =>
        a[sortFieldName] == b[sortFieldName]
          ? 0
          : a[sortFieldName] < b[sortFieldName]
          ? sortDir
          : -1 * sortDir
      );
    }

    return this.items.slice(this.from, this.to + 1);
  }

  get normalizedFields() {
    const fields = this.fields.slice();

    if (this.sortByField) {
      // TODO: Refactor?
      const idx = fields.findIndex(([field]) => field == this.sortByField);
      fields.unshift(...fields.splice(idx, 1));
    }

    this.ff = fields;

    return this.filteredItems.map(item => ({
      id: item.id,
      values: fields.map(([field]) => item[field])
    }));
  }

  @Emit("select")
  toggleSelection(id: string) {
    const selected = this.selected.slice();

    if (selected.includes(id)) {
      selected.splice(selected.indexOf(id), 1);
    } else {
      selected.push(id);
    }

    return selected;
  }

  @Emit("delete")
  deleteItem(id: string, evt: Event) {
    const container = this.$refs.container as HTMLElement;

    container
      .querySelectorAll(".btn--delete")
      .forEach(elm => (elm as HTMLElement).classList.remove("active"));

    (evt.target as HTMLElement).classList.add("active");

    return {
      id,
      evt,
      onClose: () => (evt.target as HTMLElement).classList.remove("active")
    };
  }
}
</script>

<style lang="scss" scoped>
.v-table {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  border-spacing: 0;
  background: var(--color-main-white);
  border-radius: 3px;

  th {
    text-align: left;
    padding: 15px 10px;
    border-bottom: 1px solid #ededed;
    user-select: none;
    background: var(--color-main-white);

    &:nth-of-type(2) {
      cursor: pointer;
    }
  }

  &.sticky th {
    position: sticky;
    top: 0;
  }

  .sortable {
    color: var(--color-main-green);
  }

  .sortable--arrow {
    display: inline-block;
    width: 10px;
    height: 15px;
    margin-left: 5px;
    margin-bottom: -3px;
    background: url(../assets/arrow-up.svg) 50% 50% no-repeat;
  }

  .sortable--arrow.desc {
    transform: rotate(-180deg);
  }
}

.v-table--row {
  cursor: pointer;

  & td {
    transition: background-color 0.3s;
    background: var(--color-main-white);
  }

  &:nth-child(2n) td {
    background: #f8f9fa;
  }

  &.active td {
    background: var(--color-green-selection);
  }

  &:hover td {
    background: var(--color-green-light);
  }

  &:hover td:nth-of-type(2),
  &.active td:nth-of-type(2) {
    font-weight: bold;
  }

  &.active td:nth-of-type(2) {
    color: #534d5e;
  }
}

.v-table--row td:not(:first-of-type) {
  padding: 15px 10px;
}

.v-table .cell--select {
  width: 22px;
  padding-left: 38px;
}

.cell--delete {
  width: 100px;
  text-align: right;

  .btn {
    bottom: none;
    border: 0;
    cursor: pointer;
    opacity: 0;
    margin-right: 20px;
    color: var(--color-main-text-light);

    &--delete {
      height: 25px;
      padding: 5px 10px 5px 25px;
      background: none 5px 50% no-repeat;
      background-image: url(../assets/rubbish-bin.svg);
      border-radius: var(--element-border-radius);
      transition: transform 0.1s, opacity 0.2s;
      font-size: 0.85rem;

      &:hover,
      &.active {
        background-color: var(--color-red);
        color: #fff;
        transform: scale(1.2);
        background-image: url(../assets/rubbish-bin-white.svg);
      }
    }
  }

  .btn.active {
    opacity: 1;
  }
}

.v-table--row:hover .cell--delete {
  .btn {
    opacity: 1;
  }
}
</style>
