<template>
  <div
    id="app"
    class="app"
    :class="[loadingStateClass, !isInteractive && 'not-interactive']"
  >
    <h1>Product nutritions</h1>

    <div class="app-retry error-box">
      Unable to load data. <br /><br />
      <VButton @click.native="fetch" text="Retry" type="primary" />
    </div>

    <div class="app-loader">
      <Spinner />
    </div>

    <section class="app-body">
      <header class="app--head">
        <div class="sort-field-select">
          <b class="sort-field-select--label">Sorting by:</b>
          <ul>
            <li
              v-for="[name, title] of fields"
              :key="name"
              :class="[
                sortingField == name && isSelectedField(name) && 'active',
                !isSelectedField(name) && 'disabled'
              ]"
              @click="isSelectedField(name) && (sortingField = name)"
            >
              {{ title }}
            </li>
          </ul>
        </div>

        <div class="controls">
          <VButton
            :text="
              `Delete${
                selectedItems.length ? ` (${selectedItems.length})` : ''
              }`
            "
            :type="selectedItems.length ? 'primary' : 'default'"
            :disabled="!selectedItems.length"
            @click.native.stop="
              selectedItems.length && onSelectedItemsDelete($event)
            "
          />

          <Dropdown
            :items="
              [10, 15, 20].map(value => ({ label: `${value} Per Page`, value }))
            "
            @change="onItemsPerPageChange"
          />

          <Pagination
            :page="this.page"
            :perPage="perPage"
            :total="items.length"
            @change="onPageUpdate"
          />

          <Multiselect
            :items="fields.map(([value, label]) => ({ label, value }))"
            @change="onSelectedFieldsChange"
          />
        </div>
      </header>

      <VTable
        v-show="Boolean(selectedFields.length)"
        :fields="selectedFields"
        :selected="selectedItems"
        :sortByField="sortingField"
        :items="items"
        :from="(page - 1) * perPage"
        :to="(page - 1) * perPage + perPage - 1"
        @select="onItemsSelect"
        @delete="onItemDelete"
        :sticky="true"
      />

      <div v-show="!Boolean(selectedFields.length)" class="warning-box">
        No columns were selected.
      </div>
    </section>

    <Prompt
      ref="prompt"
      :anchor="promptAnchor"
      :canHide="canHidePrompt"
      @close="cancelDelete"
    >
      <div :class="['delete-prompt', promptStatusMod]">
        <div class="delete-prompt--error">
          Unable to process request, <br />please
          <VButton
            @click.native.stop="confirmDelete"
            text="Retry"
            size="small"
            type="primary"
          />
          or
          <VButton
            @click.native.stop="cancelDelete"
            text="Cancel"
            size="small"
          />
        </div>

        <div class="delete-prompt--spinner">
          <Spinner />
        </div>

        <div class="delete-prompt--confirm">
          <h3>Are you sure to <b>delete this item(s)</b>?</h3>

          <div>
            <VButton
              @click.native.stop="cancelDelete"
              text="Cancel"
              :round="5"
            />
            <VButton
              @click.native.stop="confirmDelete"
              text="Confirm"
              type="primary"
              :round="5"
            />
          </div>
        </div>
      </div>
    </Prompt>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import VTable from "@/components/Table.vue";
import Pagination from "@/components/Pagination.vue";
import Dropdown from "@/components/Dropdown.vue";
import Multiselect from "@/components/Multiselect.vue";
import VButton from "@/components/Button.vue";
import Prompt from "@/components/Prompt.vue";
import Spinner from "@/components/Spinner.vue";
import { ProductField, LoadingState, State } from "@/store/modules/products";

enum ItemsDeleteStatus {
  Inactive = 1,
  Processing,
  Error
}

@Component({
  components: {
    VTable,
    VButton,
    Pagination,
    Dropdown,
    Multiselect,
    Prompt,
    Spinner
  }
})
export default class ProductPage extends Vue {
  private deleteStatus: ItemsDeleteStatus = ItemsDeleteStatus.Inactive;
  private sortingField: string | null = null;
  private page = 1;
  private perPage = 10;
  private selectedItems: string[] = [];
  private selectedFields = this.fields.slice();
  private itemsToDelete: string[] = [];
  private promptAnchor: HTMLElement | null = null;
  private onPromptClose: Function | null = null;

  get isInteractive() {
    return this.deleteStatus != ItemsDeleteStatus.Processing;
  }

  get promptStatusMod() {
    switch (this.deleteStatus) {
      case ItemsDeleteStatus.Inactive:
        return "dialog";
      case ItemsDeleteStatus.Processing:
        return "processing";
      case ItemsDeleteStatus.Error:
        return "error";
    }
    return "dialog";
  }

  get loadingStateClass(): string {
    const stateOfLoading = (this.$store.state.product as State).retrieveState;

    switch (stateOfLoading) {
      case LoadingState.FETCHING:
        return "app-loading";
      case LoadingState.LOADED:
        return "app-loaded";
      case LoadingState.ERROR:
        return "app-error";
    }

    return "app-loading";
  }

  get items() {
    return this.$store.state.product.products;
  }

  get fields(): ProductField[] {
    return this.$store.state.product.fields;
  }

  isSelectedField(id: string): boolean {
    return this.selectedFields.findIndex(([cid]) => cid == id) != -1;
  }

  onSelectedFieldsChange(fieldIds: string[]) {
    this.selectedFields.splice(0, this.selectedFields.length);

    for (const field of this.fields) {
      if (!fieldIds.includes(field[0])) continue;
      this.selectedFields.push(field);
    }
  }

  onItemsSelect(selectedIds: string[]) {
    this.selectedItems = selectedIds;
  }

  onItemDelete({
    id,
    evt,
    onClose
  }: {
    id: string;
    evt: Event;
    onClose: Function;
  }) {
    this.itemsToDelete.length = 0;
    this.itemsToDelete.push(id);

    this.onPromptClose = onClose;
    this.promptAnchor = evt.target as HTMLElement;
  }

  onSelectedItemsDelete(evt: Event) {
    this.itemsToDelete.length = 0;
    this.itemsToDelete.push(...this.selectedItems);

    if (this.onPromptClose) this.onPromptClose();
    this.onPromptClose = null;
    this.promptAnchor = evt.target as HTMLElement;
  }

  onPageUpdate(page: number) {
    this.page = page;
  }

  onItemsPerPageChange(value: number) {
    this.page = 1;
    this.perPage = value;
  }

  cancelDelete() {
    this.deleteStatus = ItemsDeleteStatus.Inactive;
    this.promptAnchor = null;
    this.itemsToDelete.length = 0;

    if (this.onPromptClose) this.onPromptClose();
    this.onPromptClose = null;
  }

  confirmDelete() {
    this.deleteStatus = ItemsDeleteStatus.Processing;

    this.$store
      .dispatch("product/deleteProducts", this.itemsToDelete)
      .then(() => {
        for (const id of this.itemsToDelete) {
          if (!this.selectedItems.includes(id)) continue;
          this.selectedItems.splice(this.selectedItems.indexOf(id), 1);
        }
        this.deleteStatus = ItemsDeleteStatus.Inactive;
        this.promptAnchor = null;
      })
      .catch(() => (this.deleteStatus = ItemsDeleteStatus.Error));
  }

  canHidePrompt() {
    return this.deleteStatus != ItemsDeleteStatus.Processing;
  }

  fetch() {
    const status = (this.$store.state.product as State).retrieveState;
    if (status == LoadingState.NOT_LOADED || status == LoadingState.ERROR) {
      this.$store.dispatch("product/getProducts");
    }
  }

  mounted() {
    this.fetch();
  }
}
</script>

<style lang="scss">
@import "./styles/_fonts.scss";
@import "./styles/_vars.scss";
@import "./styles/_reset.scss";

.app {
  max-width: 1140px;
  min-width: 900px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 0.85rem;
  transition: filter 10s;

  &.not-interactive .app-body {
    pointer-events: none;
    filter: grayscale(70%);
  }
}
.app-retry,
.app-body,
.app-loader {
  display: none;
}
.app-error .app-retry,
.app-loaded .app-body,
.app-loading .app-loader {
  display: block;
}
.app-loader {
  padding-top: 30px;
  text-align: center;
}
.warning-box {
  padding: 30px;
  font-size: 1.2rem;
  text-align: center;
}
.error-box {
  width: 600px;
  padding: 20px;
  margin: auto;
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-main-white);
  font-weight: bold;
  background: var(--color-red);
  border-radius: var(--element-border-radius);
}
.app--head {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1030px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .controls {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-grow: 2;
    max-width: 540px;

    @media screen and (max-width: 1030px) {
      width: 520px;
    }
  }
}
.sort-field-select {
  &--label {
    margin-right: 7px;
  }

  ul,
  li {
    display: inline-block;
  }

  li {
    padding: 7px 9px;
    border-radius: var(--element-border-radius);
    cursor: pointer;
    transition: background-color var(--animation-duration),
      color var(--animation-duration);
  }

  li:hover {
    background: var(--color-green-light);
  }

  li.active {
    background: var(--color-main-green);
    color: var(--color-main-white);
  }

  li.disabled {
    color: var(--color-main-grey);
    cursor: not-allowed;
  }
}

.delete-prompt {
  &--confirm,
  &--error,
  &--spinner {
    display: none;
  }

  &.dialog &--confirm,
  &.error &--error,
  &.processing &--spinner {
    display: block;
  }

  &--confirm {
    h3 {
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 0.85rem;
      font-weight: normal;
    }

    div {
      text-align: center;

      & > :first-child {
        margin-right: 20px;
      }
    }
  }

  &--error {
    padding: 7px;
    border-radius: var(--element-border-radius);
    background: var(--color-red);
    color: var(--color-main-white);
    font-weight: bold;
  }
}
</style>
